

@import '../variables.scss';

*{@include default}


.courseSection{
    padding: 100px 5%;
}
.courseCard{
    background-color: $my-yellow;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    color: $my-white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.courseCard h2{
    font-size: 35px;
}